/* CSS to handle some custom styling.  Styling managed by Tailwind CSS */

* {
    color: black;
}

/* background image */
body {
    background-image: url("../Images/pexels-pixabay-209831.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* general image style */
img {
    display: inline !important;
    justify-content: center !important;
}

/* Styling for the weather cards */
.card {
    border: 1px solid #1a1a1a;
    font-size: 20px;
}

.card .card-header {
padding: 0.375rem;
background-color: #2d3e50;
color: #d9e9e8;
}

.card .card-body {
padding: 0.375rem;
}

.card .card-footer {
border-top: 1px solid #1a1a1a;
padding: 0.375rem;
}

.card.card-rounded {
border-radius: 0.3rem;
}

.card.card-rounded .card-header {
border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

/* Set the width of the city photos */
#NorthCardPhoto img, #SouthCardPhoto img {
    width: 500px;
    height: 400px;
}